@{
    ViewBag.Title = "Payment";
}
@section styles{
    <style>
        .statistics-box.with-icon {
    padding-top: 14px;
    min-height: 80px;
    text-align: center;
    padding-left: 0;
}
        .statistics-box.with-icon a small{
            color: #212121;
}
        .col-md-4 {
            margin-bottom: 20px;
        }
    </style>
}
<section class="row small-spacing">
    <h2 class="box-title">PAYMENT TYPE :
    @if (ViewBag.PaymentType == "makePaymentCustomerNumberModal")
    {
        <span>CUSTOMER NUMBER</span>
    }else if (ViewBag.PaymentType == "makePaymentSmartCardNumberModal")
    {
        <span>SMRT CARD NUMBER</span>
    }
    </h2>
    <p>Kindly chose your payment provider</p>
    <hr />
    <section class="row">
        @if (ViewBag.PayEl == "can")
        {
            <article class="col-md-4">
                <div class="box-content">
                    <div class="statistics-box with-icon">
                        <a href="@Url.Action("MakePayment", new {type = "DSTV", payel = ViewBag.PayEl})" data-bouquet="DSTV">
                            <h2 class="counter text-inverse">DSTV</h2>
                            <small>Make payment for DSTV</small>
                        </a>
                    </div>
                </div>
            </article>

            <article class="col-md-4">
                <div class="box-content">
                    <div class="statistics-box with-icon">
                        <a href="@Url.Action("MakePayment", new {type = "GOTV", payel = ViewBag.PayEl})" data-bouquet="GOTV">
                            <h2 class="counter text-inverse">GOTV</h2>
                            <small>Make payment for GOTV</small>
                        </a>
                    </div>
                </div>
            </article>

        }
        else
        {
            <article class="col-md-4">
                <div class="box-content">
                    <div class="statistics-box with-icon">
                        <a class="multiChoiceSelector" href="javascript:void();" data-toggle="modal" data-target="#multiSelectionModal" data-payel="@ViewBag.PayEl">
                            <h2 class="counter text-inverse">MULTICHOICE</h2>
                            <small>Make payment for Multichoice</small>
                        </a>
                    </div>
                </div>
            </article>
        }
        

        <article class="col-md-4">
            <div class="box-content">
                <div class="statistics-box with-icon">
                    <a href="@Url.Action("MakePayment", new {type = "EKDC", payel = ViewBag.PayEl})" data-bouquet="EKDC">
                        <h2 class="counter text-inverse">EKDC</h2>
                        <small>Make payment for EKDC</small>
                    </a>
                </div>
            </div>
        </article>
        <article class="col-md-4">
            <div class="box-content">
                <div class="statistics-box with-icon">
                    <a href="@Url.Action("MakePayment", new {type = "BEDC", payel = ViewBag.PayEl})" data-bouquet="BEDC">
                        <h2 class="counter text-inverse">BEDC</h2>
                        <small>Make payment for BEDC</small>
                    </a>
                </div>
            </div>
        </article>
        <article class="col-md-4">
            <div class="box-content">
                <div class="statistics-box with-icon">
                    <a href="@Url.Action("MakePayment", new {type = "BET9JA", payel = ViewBag.PayEl})" data-bouquet="BET9JA">
                        <h2 class="counter text-inverse">BET9JA</h2>
                        <small>Make payment for BET9JA</small>
                    </a>
                </div>
            </div>
        </article>
        <article class="col-md-4">
            <div class="box-content">
                <div class="statistics-box with-icon">
                    <a href="@Url.Action("MakePayment", new {type = "TSTV", payel = ViewBag.PayEl})" data-bouquet="TSTV">
                        <h2 class="counter text-inverse">TSTV</h2>
                        <small>Make payment for TSTV</small>
                    </a>
                </div>
            </div>
        </article>
       
    </section>
</section>
